<li>
  <span class="content"><%= review.content %></span>
  
  <%= link_to review.title, get_book(review) %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </span>
</li>